<?xml version="1.0"?>
<robot name="table">


  <material name="wood">
        <color rgba="1 0.93 0.81 1"/>
  </material>

  <!-- Define the links -->
  <link name="base_link"/>

  <link name="box_link">
    <visual>
      <geometry>
        <box size="2.0 2.0 0.1"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <geometry>
        <box size="2.0 2.0 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>

  <!-- Define the joints -->
  <joint name="base_to_box" type="fixed">
    <parent link="base_link"/>
    <child link="box_link"/>
    <origin rpy="0 0 0" xyz="0 0 -0.05"/>
  </joint>

</robot>